@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
  box-sizing: border-box;
  color: #24292E;
}

body {
  margin: 0;
  box-sizing: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}