.carousel-container {
          position: relative;
          width: 100%;
          overflow: hidden;
        }

.carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
    scrollbar-width: none;       /* Firefox対応 */
    -ms-overflow-style: none;    /* IE・Edge対応 */
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel img {
    min-width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    opacity: 0.3;
    z-index: 0;
    position: relative;
}

.carousel img.active {
    transform: scale(1.3);
    opacity: 1;
    z-index: 2;
}

.carousel img:not(.active):hover{
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;
}

.carousel img.active:hover{
    transform: scale(1.4);
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(20, 20, 20, 0.6);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.indicator {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #666;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: rgb(193, 193, 193);
}
.spacer {
min-width: calc((100vw - 300px) / 2); /* 中央に揃えるための余白 */
flex-shrink: 0;
}