<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>About</h2>
        <ul>
            <li>Xxxxx Ashley</li>
            <li>2th Floor xxxxx Building x-x-x Nishiazabu, Minato-ku, Tokyo 106-0031 Japan</li>
            <li>tel: 000-0000-0000</li>
            <li>url: www.xxxxxx.jp</li>
            <li>mail: xxx@xxxxxx.jp</li>
        </ul>
        <p>プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </section>
</body>
</html>